/*.divFormulaire{
  width: 20%;
  margin: auto;
  margin-top: 2%;
}

.formulaire{
  border-style: solid;
  text-align: center;
  margin: 10%;
}

.tir{
  margin-left:500px;
  background-color: red;
}*/


header{
    height: auto;
    background-color: #0085b5;
    border-top: solid 5px #dd013f;
}
.logo{
  margin-left: 15px;
}
img{
  vertical-align: middle;
  border: 0px;
}

div#bouton a.btn{
  margin-top: 15px;
  width: 100%;
}

#div{
  display: inline-block;
}

#bouton{
  display: block;
}


p{
  text-align: center;
  word-spacing: 10px;
  font-family: "Times New Roman", serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
}

.formSignInBundle{
  visibility: hidden;
}
