/*.divFormulaire{
  width: 20%;
  margin: auto;
  margin-top: 2%;
}

.formulaire{
  border-style: solid;
  text-align: center;
  margin: 10%;
}

.tir{
  margin-left:500px;
  background-color: red;
}*/
